/*-- ======== GOOGLE FONTS ========== --*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


/*-- ======== VARIABLES CSS ========== --*/
:root{
    
    /*===color====*/
    --bg-black-900: black;
    --bg-black-100: #151515;
    --bg-black-50: #393939;
    --text-black-900: #ffffff;
    --text-black-700: #e9e9e9;

    /*=== Font and Typographie ====*/
    --body-font:'Poppins', sans-serif;

    /*=== .5rem= 8px, 1rem = 16px, 1.5rem = 24px ==== */
    --biggest-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;

    /*=== Font weight ==== */
    --font-medium:500;
    --font-bold:600;
    
    /*=== Margin bottom ==== */
    --mb-0-25: .25rem;
    --mb-0-50: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
    
    /*=== Z-index ==== */
    --z-fixed: 10;
    --z-modal: 100;
}
body.white{
    
    --bg-black-900: #fdf9ff;
    --bg-black-100: #ffffff;
    --bg-black-50: #f2f2fc;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;
}


    /*=== Reponsive Typographie ==== */
    @media screen and (max-width: 1024px){
        :root{
            --biggest-font-size: 2rem;
            --h1-font-size: 1.5rem;
            --h2-font-size: 1.25rem;
            --h3-font-size: 1.125rem;
            --normal-font-size: 0.938rem;
            --small-font-size: .813rem;
            --smaller-font-size: .75rem;
        }
        
    }
    /*-- ======== Base ========== --*/
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html{
        scroll-behavior: smooth;
    }

    body,
    button,
    input {
        font-family: var(--body-font);
        font-size: var(--normal-font-size);
    }

    body{
        background-color: var(--bg-black-900);
    }

    h1,h2,h3{
        color:  var(--skin-color);
        font-weight: var(--font-bold);
    }

    ul{
        list-style: none;
    }
    
    a{
        text-decoration: none;
    }

    img{
        max-width: 100%;
        height: auto;
    }

    button{
        cursor: pointer;
    }
    
    button,
    input {
        border: none;
        outline: none;
    }
    .alert{
        display: flex;
        justify-content: center;
        padding: 1rem;
        background-color: var(--bg-black-100);
        margin-bottom: var(--mb-1);
    }
    .alert-success{
        color: green;
    }
    .alert-danger{
        color: red;
    }

    .pp__thumbnail img {
        height: 300px;
        width: 300px;
    }
    /*-- ======== REUSABLE CLASSE CSS ========== --*/
    .section{
        margin: 3.5rem 0 2rem 0;
        padding-top: 2rem;
    }
    .row{
        display: flex;
        
    }
    .section-title{
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 60px;
        text-align: center;
    }
    .section-title h2{
        font-size: 40px;
        color: var(--text-black-900);
        font-weight: 700;
        position: relative;
    }
    .section-title h2::before{
        content: ' ';
        height: 4px;
        width: 8%;
        background-color: var(--skin-color);
        position: absolute;
        top: 100%;
        left: 46%;
    }
    .section-title h2::after{
        content: ' ';
        height: 4px;
        width: 4%;
        background-color: var(--skin-color);
        position: absolute;
        top: 100%;
        left: 48%;
        margin-top: 8px;
    }

    /*-- ======== Layout ========== --*/
.container{
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
}

.grid{
    display: grid;
}


    /*-- ======== SIDEBAR========== --*/

.sidebar {
    
    position: fixed;
    width: 100px;
    height: 100vh;
    background-color: var(--bg-black-900);
    border-right: 1px solid var(--skin-color);
    transition: .5s;
}

.nav__logo{
    position: absolute;
    left: 0;
    right: 0;
    top: 1.8rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--skin-color);
    text-align: center;
    margin: auto;
    z-index: 999;
}

.nav__logo-text{
    font-size: 1.125rem;
    color: var(--text-black-900);
    font-weight: var(--font-bold);
    line-height: 40px;
}

.nav__menu{
    position: fixed;
    transform: rotate(-90deg) translateX(-100%);
    width: 100vh;
    transform-origin: left top;
}

.menu{
    display: flex;
}

.nav__list{
    display: flex;
    flex-direction: row-reverse;
    margin: -2px auto 0 auto;
}

.nav__link {
    float: right;
    height: 100%;
    line-height: 100px;
    padding: 0 1rem;
    color: var(--text-black-900);
    font-weight: var(--font-medium);
    position: relative;
    transition: .4s;
}

.btn__share{
    position: absolute;
    bottom: 1.8rem;
    left: 0;
    right: 0;
    text-align: center;
    color: var(--skin-color);
}

.social__share {
    font-size: 1.5rem;
}

.nav__toggle {
    height: 32px;
    width: 36px;
    cursor: pointer;
    position: fixed;
    right: 1.5rem;
    top: 2rem;
    font-size: 1.2rem;
    border-radius: .25rem;
    color: var(--text-black-700);
    background-color: var(--skin-color);
    display: none;
    justify-content: center;
    align-items: center;
}
.nav__close{
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1.25rem;
    cursor: pointer;
    color: var(--text-black-700);
    display: none;

}
/* Active link */
.nav__link.active-link, .nav__link:hover {
    color: var(--skin-color);
}

.nav__link.nav__link.active-link::after, .nav__link:hover::after{
    position: absolute;
    content: ' ';
    width: 6px;
    height: 6px;
    background-color: var(--skin-color);
    border-radius: 50%;
    bottom: 1.8rem;
    left: 0;
    right: 0;
    margin: auto;
}
/*-- ======== Main ========== --*/
.main{
    margin-left: 100px;
}
/*-- ======== Home section ========== --*/
.home{
    background: url(../image/Moi2.webp);
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: bottom right ;
    height: 100vh;
    background-color: var(--bg-black-100);
}

.home__container {
    position: relative;
    height: 100%;
    align-items: center;
}

.home__social{
    position: absolute;
    top: 1.8rem;
    left: 0;
    display: flex;
    align-items: center;
    column-gap: 3.5rem;
}

.home__social-follow{
    position: relative;;
    font-weight: var(--font-medium);
    color: var(--text-black-900);
}

.home__social-follow::after{
    content: '';
    position: absolute;
    width: 1rem;
    height: 2px;
    background-color: var(--skin-color);
    right: -45%;
    top: 50%;
}

.home__social-links{
    display: inline-flex;
    column-gap: 1rem;
}

.home__social-link{
    font-size: 1.8rem;
    color: var(--text-black-900);
}

.home__social-link:hover{
    transform: translateY(.25rem);
    color: var(--skin-color);
}
.home__img{
    display: none;
}

.home__title{
    font-size: var(--biggest-font-size);
    color: var(--text-black-900);
}

.home__subtitle{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
}
.info__subtitle a{
    color: var(--text-black-700);
}

.info__subtitle a:hover{
    color: var(--skin-color);
}

.home__description{
    max-width: 450px;
    color: var(--text-black-700);
    margin-bottom: var(--mb-2);
}
.my__info{
    display: flex;
    column-gap: 1.8rem;
    position: absolute;
    left: 0;
    bottom: 1.8rem;
}

.info__item {
    display: flex;
    align-items: center;
}

.info__title, .info__subtitle{
    font-size: var(--small-font-size);
    color: var(--text-black-700);
}

.info__title{
    font-weight: var(--font-medium);
}

.info__icon{
    font-size: 1.8rem;
    color: var(--skin-color);
    margin-right: var(--mb-0-75);
}

/*-- ======== Button ========== --*/
.button{
    display: inline-flex;
    align-items: center ;
    column-gap: .5rem;
    background-color: var(--skin-color);
    padding: .75rem 1.4rem;
    border-radius: .25rem;
    font-weight: var(--font-medium);
    color: var(--text-black-900);
    position: relative;
    z-index: 1;
    
}

.button::after{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-black-50);
    z-index: -1;
    transform-origin: center;
    transition: .3s;
    transform: scale(0);
    border-radius: .25rem;
}

.button:hover::after{
    transform: scale(1);
}
.button__icon{
    font-size: 1.25rem;
}

/* About */
.about-content{
    flex: 0 0 100%;
    max-width: 100%;
}
.about-content .about-text{
    flex: 0 0 100%;
    max-width: 100%;
}
.about-content .about-text h3{
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--text-black-900);

}
.about-content .about-text h3 span{
    color: var(--skin-color);
}
.about-content .about-text p{
    font-size:  16px;
    line-height: 25px;
    color: var(--text-black-700);
}
.about-content .personal-info{
    flex:  0 0 60%;
    max-width: 60%;
    margin-top: 40px;
}
.personal-info .info-item{
    flex: 0 0 40%;
    margin: 0 1rem;
    max-width: 40%;  
}
.row2{
    height: 70%;  
    display: flex;
    flex-wrap: wrap;
}
.about-content .personal-info .info-item p {
    font-weight: 600;
    padding: 10px 0;
    font-size: 16px;
    color: var(--text-black-900);
    border-bottom: 1px solid var(--bg-black-50);
}
.about-content .personal-info .info-item p span {
    font-weight: 400;
    color: var(--text-black-700);
    margin-left: 4px;
    display: inline-block;
}
.about-content .personal-info .buttons{
    margin-top: 30px;
}
.about .button a{
    color: var(--text-black-900);
}
.about-content .personal-info .buttons .btn{
    
    margin-top: 10px;
}
.about-content .skills{
    flex:  0 40%;
    max-width: 40%;
    margin-top: 40px;
}
.about-content .skills .skill-item{
    flex: 0 0 100%;
    max-width: 100%;
}
.about-content .skills .skill-item h5{
    line-height: 40px;
    font-weight: 600;
    font-size: 16px;
    color: var(--text-black-900);
    text-transform: capitalize;
}
.about-content .skills .skill-item .progress{
    background-color: var(--bg-black-50);
    height: 7px;
    border-radius: 4px;
    width: 100%;
    position: relative;
}
.about-content .skills .skill-item {
    margin-bottom: 25px;
}
.about-content .skills .skill-item .progress .progress-in{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 4px;
    background-color: var(--skin-color);
}
.about-content .skills .skill-item .skill-percent{
    position: absolute;
    right: 0;
    color: var(--text-black-900);
    top: -40px;
    font-weight: 400;
    line-height: 40px;
}
.about-content .education, .about-content .experience{
    flex: 0 0 49%;
    max-width: 49%;
    margin-top: 30px;
    margin: 3rem auto;
    background-color: var();

}
.about-content h3.title{
    font-size: 24px;
    margin-bottom:  30px;
    font-weight: 700;
    color: var(--text-black-900);
}
.about-content .timeline-box{
    flex:  0 0 100%;
    max-width: 100%;
}
.about-content .timeline{
    background-color: var(--bg-black-100);
    padding: 30px 15px;
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    width: 100%;
    position: relative;
}
.about-content .timeline .timeline-item{
    position: relative;
    padding-left: 37px;
    padding-bottom: 50px;
}
.about-content .timeline .timeline-item:last-child{
    padding-bottom: 0;
}
.about-content .timeline .timeline-item::before{
    content: ' ';
    width: 1px;
    position: absolute;
    height: 100%;
    left: 7px;
    top: 0;
    background-color: var(--skin-color);

}
.about-content .timeline .circle-dot{
    position: absolute;
    left: 0;
    top: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--skin-color);
}
.about-content .timeline .timeline-date{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 12px;
    color: var(--text-black-700);
}
.about-content .timeline .timeline-date{
    margin-right: 5px;
}
.about-content .timeline .timeline-title{

    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: var(--text-black-900);
}
.about-content .timeline .timeline-text{
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
    color: var(--text-black-700);
}
/* service */
.service .container{
    padding-bottom: 0px;
}
.service .service-item{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 30px;
}
.service .service-item .service-item-inner{
    background-color: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    padding: 30px 15px;
    margin: 0 20px;
    text-align: center;
    transition: all 0.3s ease;
}
.service .service-item .service-item-inner:hover{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
.service .service-item .service-item-inner .icon{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: block;
    margin:  0 auto 30px ;
    text-align: center;
}
.service .service-item .service-item-inner:hover .icon{
        background: var(--skin-color);
}
.service .service-item .service-item-inner .icon .fa{
    font-size: 40px;
    line-height: 60px;
    color: var(--skin-color);
}
.service .service-item .service-item-inner:hover .icon .fa{
    font-size: 25px;
    color: white;
}
.service .service-item .service-item-inner h4{
    font-size: 18px;
    margin-bottom: 15px;
    color: var(--text-black-900);
    font-weight: 700;
    text-transform: capitalize;
}
.service .service-item .service-item-inner p{
    font-size: 16px;
    color: var(--text-black-700);
    line-height: 25px;
}
.service .container-skill{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}
.service .container-skill .card{
    position: relative;
    width: 300px;
    height: 200px;
    background-color: var(--bg-black-100);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;

}
.service .container-skill .card .percent{
    
    position: relative;
    width: 150px;
    height: 150px;
}
.service .container-skill .card .percent svg{
    position: relative;
    height: 150px;
    width: 150px;
    transform: rotate(270deg);
}
.service .container-skill .card .percent svg circle{
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 2;
    stroke: #191919;
    transform: translate(5px, 5px)
}
.service .container-skill .card .percent svg circle:nth-child(2){
    stroke: var(--skin-color);
    stroke-dasharray: 470;
    stroke-dashoffset: calc(440 - (400 * var(--num)) / 100);
    animation: fadeIn 1s linear forwards;
    animation-delay: 1.7s;
    opacity: 0;
}
.skill-heading{
    color: var(--text-black-900);
    margin-bottom: 30px;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}
.dot{
    position: absolute;
    inset: 5px;
    z-index: 10;
    transform: rotate(calc(3.6deg * var(--num) ));
    animation: animateDot 2s linear forwards;
}
@keyframes animateDot {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(calc(3.6deg * var(--num)));
    }
}
.dot::before{
    content: ' ';
    position: absolute;
    width: 10px;
    height: 10px;
    background: var(--skin-color);
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 10px var(--skin-color), 
    0 0 30px var(--skin-color);
}
.number{
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: fadeIn 1s linear forwards;
    animation-delay: 2s;
    opacity: 0;
}
.number h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-black-900);
    font-size: 2.5em;
}
.number h2 span{
    font-weight: 300;
    color: var(--text-black-700);
    font-size: 0.5em;
}
.number p{
    font-weight: 300;
    font-size: 0.75em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--text-black-700);
}
/*---WORK---*/
.work__container{
    grid-template-columns: repeat(3, 330px);
    gap: 1.8rem;
    justify-content: center;
    padding-top: 1rem;
}

.work__filters {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .75rem;
    margin-bottom: 2rem;
}

.work__item{
    color: var(--text-black-900);
    cursor: pointer;
    padding: .25rem .75rem;
    font-weight: var(--font-medium);
    border-radius: .5rem;
}
.work__card{
    background: var(--bg-black-100);
    padding: 1.25rem;
    border-radius: .5rem;
}
.portfolio__item-details{
    display: none;
}

.work__img{
    border-radius: 0.5rem;
    margin-bottom: var(--mb-1);
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.work__title{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--text-black-900) !important;
    margin-bottom: var(--mb-0-50);
}
.work__button{
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    column-gap: .25rem;
    cursor: pointer;
    color: var(--skin-color);
}
.work__icon {
    font-size: 1rem;
    transition: .3s;
}

.work__button:hover .work__icon{
    transform: translateX(.25rem);
}
/*active item work */
.active-work{
    background-color: var(--skin-color);
    color: var(--bg-black-100);
}
/*Portfolio popup*/
.portfolio__popup{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: var(--z-modal);
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.portfolio__popup.open{
    opacity: 1;
    visibility: visible;
    z-index: 960;
}

.portfolio__popup-inner{
    background-color: var(--bg-black-100);
    width: 900px;
    border-radius: .5rem;
    padding: 2.5rem;
    position: relative;
}

.portfolio__popup-content{
    grid-template-columns: repeat(2, 1fr) ;
    align-items: center;
    column-gap: 3rem;
}

.portfolio__popup-close{
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.5rem;
    color: var(--skin-color);
    cursor: pointer;
}

.portfolio__popup-img{
    border-radius: .5rem;
    max-height: 300px;
    width: 100%;
    object-fit: cover;
}


.portfolio__popup-subtitle {
    font-size: var(--smaller-font-size);
    margin-bottom: var(--mb-0-25);
    color: var(--text-black-700);
}

.details__title{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
    /* color: var(--text-black-900); */
}

.details__description {
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-2);
    color: var(--text-black-700);
}

.details__info li{
    margin-bottom: var(--mb-0-75);
    text-transform: capitalize;
    font-size: var(--small-font-size);
    color: var(--text-black-700);

}

.details__info li:last-child{
    margin-bottom: 0;
}
.details__info li span{
    font-weight: normal;
}
.details__info li a {
    text-transform: lowercase;
    color: var(--skin-color);
}
/* Contact Section */

.contact__container{
    grid-template-columns: 300px 340px;
    column-gap: 3rem;
    justify-content: center;
    align-items: center;
    padding-bottom: 10rem;
}

.contact__info{
    display: grid;
    row-gap: 1rem;
}

.contact__card{
    background-color: var(--bg-black-100);
    padding: 1rem;
    border-radius: .5rem;
    text-align: center;
}

.contact__card-icon{
    font-size: 1.8rem;
    color: var(--text-black-700);
    margin-bottom: var(--mb-0-25);
}

.contact__card-title, .contact__card-data{
    font-size: var(--small-font-size);
}

.contact__card-title{
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
}

.contact__card-data{
    color: var(--text-black-700);
    display: block;
    margin-bottom: var(--mb-0-75);
}
.contact__button{
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .25rem;
    cursor: pointer;
    color: var(--skin-color);
}
.contact__icon {
    font-size: 1rem;
    transition: .3s;
}

.contact__button:hover .contact__button-icon{
    transform: translateX(.25rem);
}

.input__container{
    position: relative;
    margin-top: .1rem;
    margin-bottom: 1.9rem;
}

.input{
    width: 100%;
    border: 2px solid var(--text-black-700);
    background: transparent;
    padding: .6rem 1.2rem;
    color: var(--text-black-700);
    font-weight: var(--font-medium);
    font-size: var(--normal-font-size);
    outline: none;
    letter-spacing: .5px;
    border-radius: .50rem;
    
}
textarea.input{
    padding: .8rem 1.2rem;
    min-height: 140px;
    border-radius: .50rem;
    resize: none;
}

.input__container label{
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    padding: 0 .4rem;
    color: var(--text-black-700);
    font-size: 1rem;
    font-weight: var(--font-medium);
    pointer-events: none;
    z-index: 950;
    transition: .5s;
}

.input__container.textarea label{
    top: 1rem;
    transform: translateY(0);
}
.input__container span {
    position: absolute;
    top: 0;
    left: 25px;
    color: transparent;
    transform: translateY(-50%);
    font-size: var(--small-font-size);
    padding: 0 .4rem;
    pointer-events: none;
    z-index: 500;
    
}

.input__container span::before,
.input__container span::after {
    content: ' ';
    position: absolute;
    width: 10%;
    height: 5px;
    opacity: 0;
    background-color: var(--bg-black-100);
    top: 50%;
    transform: translateY(-50%);
    transition: .3s;

}

.input__container span::before{
    left: 50%;
}
.input__container span::after{
    right: 50%;
}

.input__container.focus label{
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: var(--smaller-font-size);
}

.input__container.focus span::before,
.input__container.focus span::after {
    width: 50%;
    opacity: 1;
}

::-webkit-scrollbar{
    width: 0.5rem;
    background-color: var(--bg-black-50);
    border-radius: .5rem;
}
::-webkit-scrollbar-thumb{
    background-color: var(--skin-color);
    border-radius: .5rem;
}

footer{
    border-top: 1px solid var(--skin-color);
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-black-100);
}
footer p {
    color: var(--text-black-700);
}
footer span{
    color: var(--skin-color);
}

@media screen and (max-width: 1408px) {
    .container{
        margin-left: var(--mb-2-5);
        margin-right: var(--mb-2-5);
    }
}
@media screen and (max-width: 1216px) {
    
    .about__container{
        column-gap: 2.5rem;
    }

    .about__description {
        padding-right: 0;
    }

    .work__container{
        grid-template-columns: repeat(2, 330px);
        gap: 2.5rem;
    }
}
@media screen and (max-width: 1024px) {
    .container{
        margin-left: var(--mb-1-5);
        margin-right: var(--mb-1-5);
    }
    .sidebar {
        width: 100%;
        z-index: 999;
        transform: translateX(-100%);
    }
    .show-sidebar{
        transform: translateX(0);
    }
    .nav__logo,
    .btn__share{
        display: none;
    }

    .nav__menu{
        height: 100%;
        width: 100%;
        transform:  rotate(0deg) translateX(0);
        display: flex;
        justify-content: center;
        z-index: 980;

    }
    .nav__list{
        flex-direction: column;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    .nav__link{
        padding: 1rem 0;
        line-height: 1.5;
    }

    .nav__link.nav__link.active-link::after, .nav__link:hover::after{
        bottom: 0;
    }
    .nav__close{
        display: block;
        z-index: 999;
    }
    .nav__toggle{
        display: flex;
        z-index: 999;
    }
    .main{
        margin-left: 0;
    }

    .work__card{
        padding: 1rem;
    }
    .work__img{
        margin-bottom: var(--mb-0-75);
    }
    .work__title {
        margin-bottom: var(--mb-0-25);
    }
    .portfolio__item-details{
        margin-bottom: var(--mb-1-5);
    }
    .details__info li{
        margin-bottom: var(--mb-0-50);
    }
    .details__title{
        margin-bottom: var(--mb-0-75);
    }
    .service .service-item, .about-content .personal-info, .about-content .skills, .about-content .education, .about-content .experience{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .service .service-item .service-item-inner{
        margin: 0;
    }
    .service .service-item .service-item-inner {
        width: 100%;
    }
    .row{
        flex-direction: column;
    }
    .about .button{
        margin: 2rem 0;
        width: 50%;
    }
    
}
@media screen and (max-width: 768px) {
    .portfolio__popup-content {
        grid-template-columns: 1fr;
    }
    .portfolio__popup-img{
        margin-bottom: var(--mb-2);
        max-height: 300px;
        width: 100%;
        object-fit: cover;
    }
    .personal-info .info-item {
        flex: 0 0 45%;
        max-width: 45%;
        margin: 0 auto;
    }
    .work__container{
        grid-template-columns: 100%;
    }
   .contact__container {
    grid-template-columns: 100%;
    row-gap: 3rem;
   }
   .personal-info .info-item {
    flex: 0 0 100%;
    max-width: 100%;
    margin: 0 auto;
}
.service .container-skill .card{
    width: 100%;
}
.home{
    background-image: none;
   
}

}
@media screen and (max-width: 576px) {
    .work__img{
        height: 350px;
        width: 100%;
        object-fit: cover;
    }
    .nav__toggle{
        right: initial;
        left: 1.5rem;
    }
    .home{
        height: initial;
        align-items: initial;
        padding: 7rem 0 2rem;
    }

    .home__container{
        row-gap: 2rem;
    }

    .home__img {
        display: block;
        width: 100%;
        justify-self: center;
    }

    .home__social{
        left: initial;
        right: -1rem;
        flex-direction: column;
        row-gap: 3.5rem;
    }

    .home__social-follow{
        font-size: var(--smaller-font-size);
        transform: rotate(90deg);
    }

    .home__social-links{
        flex-direction: column;
        row-gap: .25rem;
    }

    .home__social-link {
        font-size: var(--normal-font-size);
    }

    .my__info{
        display: none;
    }
    .contact__container{
        padding-bottom: 2rem;
    }
}